body
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #eee;
}

.main 
{
	margin-left: 300px; /* Same as the width of the sidenav */
	margin-right: 100px; 
    padding: 10px 50px 50px 50px;
	text-align: justify;
	background-color: #fff;
}

.navButton
{
	margin-left: 300px;
	margin-bottom: 100px;
	margin-right: 100px;
	padding: 10px 0px 10px 20px;
	background-color: #eee;
}

.nextButton 
{
	color: white;
	background-color: orange;
	
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	
	padding: 15px 32px;
	margin: 4px 2px;
	float: right;
	
	border: none;
	border-radius: 4px;
	display: inline-block;
	
	cursor: pointer;
}

.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextButton:hover span {
  padding-right: 25px;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}

h1
{
	font-size: 28px;
}

h2
{
	font-size: 25px;
}

h3
{
	font-size: 22px;
	color: #FF8C00;
	font-weight: bold;
}

h4
{
	font-size: 19px;
	color: #DE7300;
	font-style: italic;
}

p
{
	font-size: 17px;
}

ul
{
	font-size: 17px;
}

figure {
	padding: 4px;
	margin: auto;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

figcaption {
	background-color: white;
	color: black;
	font-style: italic;
	padding: 10px;
	text-align: center;
}

.firstPerson
{
	font-style: italic;
}

hr.orangeRow
{
	border-top: 2px solid orange;
}

.sidenav 
{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eef;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a 
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 19px;
  color: #818181;
  display: block;
}

.sidenav a:hover 
{
  color: #d1d1d1;
}

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}