/* GENERAL TEXT */
body
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
}
.main 
{
	margin-top: 0;
	margin-left: 25%;
	margin-right: 10%; 
    padding: 1% 5% 5% 5%;
	text-align: justify;
	background-color: #fff;
	font-size: 1.25vw;
}
.firstPerson
{
	font-style: italic;
}
hr.orangeRow
{
	border-top: 2px solid orange;
}

/* CONTENTS */
#contentsContainer
{
	background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    width: auto;
}
#contentsContainer h4
{
	padding: 0;
	margin: 0;
	text-align: left;
	font-style: normal;
}
#contentsContainer ul, #contentsContainer li, #contentsContainer a
{
	color: black;
	text-decoration: none;
	font-style: italic;
	padding-right: 10px;
}

/* NAV BAR */
.sidenav 
{
  height: 100%;
  float: left;
  position: sticky;
  width: 15%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eef;
  overflow-x: hidden;
  padding-top: 10px;
}
.sidenav a 
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.3vw;
  color: #818181;
  display: block;
}
.sidenav a:hover 
{
  color: #d1d1d1;
}

a.current 
{
	color: orange;
	background: #ddf;
}

/* HEADER */
.header
{
	box-shadow: 0px 0px 5px #27272780;
	-webkit-box-shadow: 0px 0px 5px #27272780;
	-moz-box-shadow: 0px 0px 5px #27272780;
	position: relative;
	z-index: 999999;
	background-color: white;
	height: 100px;
	padding: 10px;
	margin-bottom: 10px;
    text-align: center;
}
.headerImg
{
	width: 13%;
	padding-top: 10px;
	float: left;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(-0%, -50%);
}
.header h3
{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 25%;
	padding-right: 10%;
	text-align: center;
	color: #FF6A00;
	font-size: 3.5vw;
}
.contactTab
{
	position: absolute;
	top: 62%;
	right: 7.4%;
	margin: 0;
	padding: 10px;
	
	color: #FF6A00;
	background-color: white;
	
	text-decoration: none;
	text-align: center;
	font-size: 1.2vw;
	
	border-top: solid #FF6A00;
	border-radius: 2px;
	display: inline-block;
	
	cursor: pointer;
}
.contactTab:hover
{
	background-color: #eee;
}


/* NAVIGATION BUTTONS */
.navButton
{
	margin-left: 300px;
	margin-bottom: 100px;
	margin-right: 100px;
	padding: 10px 0px 10px 0px;
	background-color: #eee;
}
.button 
{
	color: white;
	background-color: #FF8C00;
	
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	
	padding: 15px 32px;
	margin: 4px 2px;
	
	border: none;
	border-radius: 4px;
	display: inline-block;
	
	cursor: pointer;
}
.button-next
{
	float: right;
}
.button-prev
{
	float: left;
}
.button span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after
{
	position: absolute;
	opacity: 0;
	top: 0;
	transition: 0.5s;
}
.button-next span:after 
{
	content: '\00bb';
	right: -20px;
}
.button-next:hover span 
{
	padding-right: 25px;
}
.button-next:hover span:after 
{
	opacity: 1;
	right: 0;
}
.button-prev span:after 
{
	content: '\00ab';
	left: -20px;
}
.button-prev:hover span 
{
	padding-left: 25px;
}
.button-prev:hover span:after 
{
	opacity: 1;
	left: 0;
}


/* HEADINGS */
h1
{
	font-size: 150%;
	text-align: left;
}
h2
{
	font-size: 140%;
	text-align: left;
}
h3
{
	font-size: 130%;
	color: #FF8C00;
	font-weight: bold;
	text-align: left;
}
h4
{
	font-size: 120%;
	color: #DE7300;
	font-style: italic;
	text-align: left;
}
h5
{
	font-size: 100%;
	text-decoration: underline;
	text-align: left;
}

/* FIGURES */
figure {
	padding: 4px;
	margin: auto;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
figcaption {
	background-color: white;
	color: black;
	font-style: italic;
	padding: 10px;
	text-align: center;
}

/* COLLAPSIBLES */
.collapsible 
{
	background-color: #eee;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: solid #FF8C00;
	text-align: left;
	outline: none;
	font-size: 17px;
	margin-top: 10px;
}
.active, .collapsible:hover 
{
	background-color: #ddd;
}
.collapsible:after 
{
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}
.collapsibleContent {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}
.collapsibleContent figCaption
{
	background-color: #f1f1f1;
}

@media screen and (max-width: 481px) 
{
	.sidenav 
	{
		display: none;
	}
	.main 
	{
		margin-left: 0;
		margin-right: 0; 
		font-size: 15px;
	}
}
